In [1]:
import pandas as pd
import numpy as np
import re

import os
import requests
from dotenv import load_dotenv

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
from selenium import webdriver
#import chromedriver_binary 
from webdriver_manager.chrome import ChromeDriverManager

In [4]:
def getPage(url):
    driver = webdriver.Chrome(ChromeDriverManager().install())
    driver.get(url)
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    html = driver.page_source
    soup = BeautifulSoup(html)
    driver.quit()
    return soup

In [6]:
soup = getPage("https://stats.nba.com/player/201142/")

[WDM] - Current google-chrome version is 81.0.4044
[WDM] - Get LATEST driver version for 81.0.4044
[WDM] - Driver [/home/must4in3/.wdm/drivers/chromedriver/linux64/81.0.4044.138/chromedriver] found in cache

In [7]:
#soup

In [8]:
# solo nombres columnas
columnas = [table.text.split() for table in soup.select("thead")]
# all values en la table
lenght = [table.text.split() for table in soup.select("tbody")]
row = [table.text.split() for table in soup.select("tbody > tr")]
#print(row[0])
#print(columnas[0])
years = len(lenght[1])
print(years)

12

In [9]:
#print(columnas[0][1::])
#print(row)
#print(len(row[1]))

In [10]:
Traditional_Splits  = dict()
Advanced_Splits = dict()
Misc_Splits = dict()
Scoring_Splits = dict()
Usage_Splits = dict() 
new_row = []
for x in row:
    if len(x)>1:
        new_row.append(x)
def creacolumnas(columnas, empty_dict):
    for column in columnas:
        empty_dict[column] = []  
        
def creafilas(row, numpari, empty_dict):
    for i,value in enumerate(empty_dict.keys()):
        for x in range(years):
            try:
                empty_dict[value].append(row[x+(numpari*years)][i])
            except:
                pass

In [11]:
columnas_tabla1 =columnas[0][1::]
columnas_tabla2 =columnas[2][1:11] + columnas[2][13::]
columnas_tabla3 =columnas[4][1:5] + columnas[4][6:7] + columnas[4][8:9] + columnas[4][10:13] + columnas[4][15:16] + columnas[4][17::]
columnas_tabla4 =columnas[6][1:9] + columnas[6][10::]
columnas_tabla4[7] = '%PTS2PTMR'
columnas_tabla5 = columnas[8][1::]
creacolumnas(columnas_tabla1, Traditional_Splits )
creafilas(new_row, 0, Traditional_Splits )
#print(Traditional_Splits)
creacolumnas(columnas_tabla2, Advanced_Splits )
creafilas(new_row, 1, Advanced_Splits )
#print(Advanced_Splits)
creacolumnas(columnas_tabla3, Misc_Splits )
creafilas(new_row, 2, Misc_Splits )
#print(Misc_Splits)
creacolumnas(columnas_tabla4, Scoring_Splits )
creafilas(new_row, 3, Scoring_Splits )
#print(Scoring_Splits)
creacolumnas(columnas_tabla5, Usage_Splits )
creafilas(new_row, 4, Usage_Splits )
#print(Usage_Splits)

In [12]:
table1 = pd.DataFrame(Traditional_Splits)
table1.head()

,Year,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,2018-19,GSW,78,34.6,26.0,9.2,17.7,52.1,1.8,5.0,...,6.4,5.9,2.9,0.7,1.1,2.0,45.0,16,2,8.4
1,2017-18,GSW,68,34.2,26.4,9.3,18.0,51.6,2.5,6.1,...,6.8,5.4,3.0,0.7,1.8,2.0,47.0,15,2,5.2
2,2016-17,GSW,62,33.4,25.1,8.9,16.5,53.7,1.9,5.0,...,8.3,4.8,2.2,1.1,1.6,1.9,48.0,23,1,11.5
3,2015-16,OKC,72,35.8,28.2,9.7,19.2,50.5,2.6,6.7,...,8.2,5.0,3.5,1.0,1.2,1.9,48.5,27,1,9.0
4,2014-15,OKC,27,33.8,25.4,8.8,17.3,51.0,2.4,5.9,...,6.6,4.1,2.7,0.9,0.9,1.5,42.1,5,0,6.2

In [13]:
table2  = pd.DataFrame(Advanced_Splits)
table2.head()

,Year,TEAM,GP,MIN,OffRtg,DefRtg,NetRtg,AST%,AST/TO,AST,DREB%,REB%,TO,Ratio,eFG%,TS%,USG%,PACE,PIE
0,2018-19,GSW,78,34.6,118.7,107.3,11.4,25.1,2.03,20.0,1.3,15.3,8.8,9.8,57.1,63.1,28.3,103.33,16.2
1,2017-18,GSW,68,34.2,115.9,108.9,7.0,24.3,1.77,18.7,1.5,16.9,9.9,10.6,58.6,64.0,29.3,102.24,16.8
2,2016-17,GSW,62,33.4,118.0,102.3,15.7,21.8,2.17,18.5,2.0,20.7,12.2,8.5,59.4,65.1,27.1,102.86,18.6
3,2015-16,OKC,72,35.8,114.5,102.9,11.6,23.0,1.44,16.4,1.8,18.8,11.0,11.4,57.3,63.4,29.8,99.34,19.4
4,2014-15,OKC,27,33.8,109.5,101.0,8.5,21.3,1.49,15.3,1.7,16.3,9.2,10.3,57.8,63.3,28.0,98.59,19.4

In [14]:
table3 = pd.DataFrame(Misc_Splits)
table3.head()

,Year,TEAM,GP,MIN,OFF,2nd,FBPs,PITP,OppPTS,Opp2nd,OppFBPs,OppPITP,BLK,BLKA,PF,PFD
0,2018-19,GSW,78,34.6,3.6,1.9,4.6,8.5,12.2,10.1,10.8,33.2,1.1,0.5,2.0,4.9
1,2017-18,GSW,68,34.2,3.7,1.9,4.3,7.7,13.6,10.1,10.8,34.5,1.8,0.6,2.0,4.8
2,2016-17,GSW,62,33.4,4.6,2.4,5.7,10.0,10.7,9.6,9.3,31.3,1.6,0.4,1.9,4.6
3,2015-16,OKC,72,35.8,3.0,2.2,4.6,8.8,12.9,10.8,10.0,33.5,1.2,0.5,1.9,4.5
4,2014-15,OKC,27,33.8,4.0,2.3,4.0,7.7,10.7,8.8,9.1,29.6,0.9,0.3,1.5,4.9

In [15]:
table4 = pd.DataFrame(Scoring_Splits)
table4.head()

,Year,TEAM,GP,MIN,%FGA2PT,%FGA3PT,%PTS2PT,%PTS2PTMR,%PTS3PT,%PTSFBPs,%PTSFT,%PTSOffTO,%PTSPITP,2FGM%AST,2FGM%UAST,3FGM%AST,3FGM%UAST,FGM%AST,FGM%UAST
0,2018-19,GSW,78,34.6,71.9,28.1,57.6,25.1,20.3,17.6,22.1,13.9,32.6,47.1,52.9,56.9,43.1,49.0,51.0
1,2017-18,GSW,68,34.2,66.2,33.8,51.0,21.7,29.0,16.3,20.0,14.1,29.4,48.8,51.2,68.8,31.2,54.3,45.7
2,2016-17,GSW,62,33.4,69.6,30.4,55.8,15.8,22.6,22.9,21.6,18.2,40.0,56.5,43.5,81.2,18.8,61.7,38.3
3,2015-16,OKC,72,35.8,65.2,34.8,50.5,19.3,27.5,16.5,22.0,10.5,31.1,51.8,48.2,64.0,36.0,55.0,45.0
4,2014-15,OKC,27,33.8,66.0,34.0,50.7,20.4,28.0,15.6,21.3,15.7,30.3,51.1,48.9,65.6,34.4,55.0,45.0

In [16]:
table5 = pd.DataFrame(Usage_Splits)
table5.head()

,Year,TEAM,GP,MIN,USG%,%FGM,%FGA,%3PM,%3PA,%FTM,...,%DREB,%REB,%AST,%TOV,%STL,%BLK,%BLKA,%PF,%PFD,%PTS
0,2018-19,GSW,78,2702,28.3,28.3,27.6,17.7,19.8,43.0,...,22.4,19.3,26.8,28.8,13.3,22.5,20.7,13.2,33.9,29.4
1,2017-18,GSW,68,2325,29.3,29.5,29.4,29.0,27.9,41.1,...,25.6,22.1,25.2,27.3,13.3,33.7,21.2,14.1,35.2,31.2
2,2016-17,GSW,62,2070,27.1,28.6,27.3,21.8,22.8,39.6,...,30.3,26.7,22.1,22.7,16.1,34.6,17.0,14.6,32.3,29.7
3,2015-16,OKC,72,2578,29.8,30.8,29.9,41.2,37.5,39.2,...,27.6,22.3,27.4,29.9,17.7,24.9,16.7,13.0,29.9,33.1
4,2014-15,OKC,27,913,28.0,31.6,28.3,40.8,34.0,37.2,...,23.7,19.5,25.0,25.9,15.7,20.7,9.8,9.8,33.3,33.3

In [ ]:
Traditional_Splits  = dict()
Advanced_Splits = dict()
Misc_Splits = dict()
Scoring_Splits = dict()
Usage_Splits = dict() 
def creacolumnas(columnas, empty_dict):
    for column in columnas[0][1::]:
        empty_dict[column] = []  
        
def creafilas(row, empty_dict):
    for i,value in enumerate(Traditional_Splits.keys()):
        for x in range(years):
            try:
                empty_dict[value].append(row[x][i])
            except:
                pass

In [ ]:
Traditional_Splits  = dict()
Advanced_Splits = dict()
Misc_Splits = dict()
Scoring_Splits = dict()
Usage_Splits = dict() 
def creacolumnas(columnas, numpari, empty_dict):
    for column in columnas[numpari][1::]:
        empty_dict[column] = []  
        
def creafilas(row, numpari, empty_dict):
    for i,value in enumerate(empty_dict.keys()):
        for x in range(years):
            empty_dict[value].append(row[x][i])

In [ ]:
print(row[0])

In [ ]:
creacolumnas(columnas, 0, Traditional_Splits )
creafilas(row, 0, Traditional_Splits )
print(Traditional_Splits)
#creacolumnas(columnas, 2, Advanced_Splits )
#creafilas(row, 2, Advanced_Splits )
#print(Advanced_Splits)
#creacolumnas(columnas, 0, Traditional_Splits )
#creafilas(row, 0, Traditional_Splits )
#print(Traditional_Splits)
#creacolumnas(columnas, 0, Traditional_Splits )
#creafilas(row, 0, Traditional_Splits )
#print(Traditional_Splits)
#creacolumnas(columnas, 0, Traditional_Splits )
#creafilas(row, 0, Traditional_Splits )
#print(Traditional_Splits)

In [ ]:
'''NBA = dict()

for column in columnas[0][1::]:
    NBA[column] = []  

for i,value in enumerate(NBA.keys()):
    for x in range(years):
        NBA[value].append(row[x][i])
print(NBA)'''

In [ ]:
Traditional_Splits  = dict()
Advanced_Splits = dict()
Misc_Splits = dict()
Scoring_Splits = dict()
Usage_Splits = dict() 
new_row = []
for x in row:
    if len(x)>1:
        new_row.append(x)
def creacolumnas(columnas, empty_dict):
    for column in columnas:
        empty_dict[column] = []  
        
def creafilas(row, numpari, empty_dict):
    for i,value in enumerate(empty_dict.keys()):
        for x in range(years):
            try:
                empty_dict[value].append(row[x+(numpari*years)][i])
            except:
                pass

In [ ]:
columnas_tabla1 =columnas[0][1::]
columnas_tabla2 =columnas[2][1:11] + columnas[2][13::]
columnas_tabla3 =columnas[4][1:5] + columnas[4][6:7] + columnas[4][8:9] + columnas[4][10:13] + columnas[4][15:16] + columnas[4][17::]
columnas_tabla4 =columnas[6][1:9] + columnas[6][10::]
columnas_tabla4[7] = '%PTS2PTMR'
columnas_tabla5 = columnas[8][1::]
creacolumnas(columnas_tabla1, Traditional_Splits )
creafilas(new_row, 0, Traditional_Splits )
print(Traditional_Splits)
creacolumnas(columnas_tabla2, Advanced_Splits )
creafilas(new_row, 1, Advanced_Splits )
print(Advanced_Splits)
creacolumnas(columnas_tabla3, Misc_Splits )
creafilas(new_row, 2, Misc_Splits )
print(Misc_Splits)
creacolumnas(columnas_tabla4, Scoring_Splits )
creafilas(new_row, 3, Scoring_Splits )
print(Scoring_Splits)
creacolumnas(columnas_tabla5, Usage_Splits )
creafilas(new_row, 4, Usage_Splits )
print(Usage_Splits)

In [ ]:
print(columnas[2][1::])

In [ ]:
columnas = [table.text.split() for table in soup.select("thead")]

In [ ]:
columnas_tabla1 =columnas[0][1::]
columnas_tabla2 =columnas[2][1:11] + columnas[2][13::]
columnas_tabla3 =columnas[4][1:5] + columnas[4][6:7] + columnas[4][8:9] + columnas[4][10:13] + columnas[4][15:16] + columnas[4][17::]
columnas_tabla4 =columnas[6][1:9] + columnas[6][10::]
columnas_tabla4[7] = '%PTS2PTMR'

In [ ]:
Traditional_Splits  = dict()
Advanced_Splits = dict()
Misc_Splits = dict()
Scoring_Splits = dict()
Usage_Splits = dict() 
new_row = []
for x in row:
    if len(x)>1:
        new_row.append(x)
print(new_row[34])
def creacolumnas(columnas, numpari, empty_dict):
    for column in columnas[numpari][1::]:
        empty_dict[column] = []  
        
def creafilas(row, numpari, empty_dict):
    for i,value in enumerate(empty_dict.keys()):
        for x in range(years):
            try:
                empty_dict[value].append(row[x+(numpari*years)][i])
            except:
                pass